.description {
    display: flex;
    flex-direction: column;
    z-index: 1;
    height: 100vh;
    /* color: white; */

}

.header {
background-color: green;
color: white;
display: flex;
align-items: start;
height: 33%;
padding: 10px;
z-index: 1;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
}

.photo-container  {
position: absolute;
}

.photo {
    /* aspect-ratio: 2; */
    padding: 15%;
    position: relative;
    margin-top: 25px;
    background-color: transparent;
    max-width: 60%;
    z-index: 2;
    
}

.stadistics {
    height: 50%;
    margin-top: 55px;
    align-items: center;
    justify-content: center;
}   

.size {
display: flex;
flex-direction: row;
justify-content: space-between;
margin: 20px;
}

.botones {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.previous {
    justify-content: center;
    align-items: center;

}

.backward {
    width: 7%;
    height: 7%;
    display: flex;
    justify-content: start;
    align-items: start;
    background-color: transparent;
    border: none;
}