.description {
    display: flex;
    flex-direction: column;
    z-index: 1;
    height: 100vh;
    /* color: white; */
    position: relative;
    background-color: blueviolet;
}

.description-content {
    max-width: 670px;
    margin: 0 auto;
}

.header {
    /* background-color: green; */
    color: white;
    display: flex;
    align-items: start;
    /* height: 33%; */
    padding: 10px;
    z-index: 1;
}

.header-content {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
}

.photo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.photo-container button {
    background-color: transparent;
    border: none;
    position: absolute;
    bottom: 20px;
}

.previous {
    left: 20px;
}

.next {
    right: 20px;
}

.photo {
    /* aspect-ratio: 2; */
    z-index: 2;
    width: 200px;
    height: 200px;
    object-fit: contain;
    object-position: bottom;
    margin-bottom: -56px;
}

.stadistics {
    height: 70%;
    margin-top: 250px;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin: 5px;
    border-radius: 10px;
    padding-top: 20px;
}

.size-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 40px 10px 40px;
}

.size img {
    width: 20px;
    height: 20px;
}

.rotated-img {
    transform: rotate(90deg);
}

.size {
    display: flex;
    color: black;
}

.size-subtitle {
    color: gray;
    margin-top: 10px;
}

.ability {
    color: black;
}

.poke-info {
    margin: 15px 25px 15px 25px;
    font-size: 12px;
}

.poke-info p {
    color: black;
}

.backward {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: start;
    align-items: start;
    background-color: transparent;
    border: none;
    z-index: 3;
}

.id {
    width: 48px;
    height: 48px;
}

.type {
    text-align: center;
    border-radius: 20px;
    padding: 5px;

}

.type-container {
    margin: 20px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.type-container p {
    color: white;
}


.about {
    text-align: center;
    margin: 15px;
    font-size: 25px;
    font-weight: bold;
}

.base-stats {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin: 10px;
}

.stats-container {
    display: flex;
    padding: 0 25px;
}

.stats-title {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 3px;
    border-right: solid 1px black;
    padding-right: 15px;
}

.stats-props {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    gap: 3px;
    padding-left: 15px;
}

.stats-props p {
    color: black;
}

.stats-bars {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 15px;
}

.stats-bars p {
    width: 20px;
}

.fire {
    background-color: #F57D31;
    color: #F57D31;
}

.bug {
    background-color: #A7B723;
    color: #A7B723;
}

.dark {
    background-color: #75574C;
    color: #75574C;
}

.dragon {
    background-color: #7037FF;
    color: #7037FF;
}

.electric {
    background-color: #F9CF30;
    color: #F9CF30;
}

.fairy {
    background-color: #E69EAC;
    color: #E69EAC;
}

.fighting {
    background-color: #C12239;
    color: #C12239;
}

.flying {
    background-color: #A891EC;
    color: #A891EC;
}

.ghost {
    background-color: #70559B;
    color: #70559B;
}

.normal {
    background-color: #AAA67F;
    color: #AAA67F;
}

.grass {
    background-color: #74CB48;
    color: #74CB48;
}

.ground {
    background-color: #DEC16B;
    color: #DEC16B;
}

.ice {
    background-color: #9AD6DF;
    color: #9AD6DF;
}

.poison {
    background-color: #A43E9E;
    color: #A43E9E;
}

.psychic {
    background-color: #FB5584;
    color: #FB5584;
}

.rock {
    background-color: #B69E31;
    color: #B69E31;
}

.steel {
    background-color: #B7B9D0;
    color: #B7B9D0;
}

.water {
    background-color: #6493EB;
    color: #6493EB;
}