.pokedex-container {
    background-color: rgb(220, 10, 45);
}

.thumbnail-container {
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 2px;
    margin: 5px;
    border-radius: 10px;
    padding-top: 20px;
}

.links {
    text-decoration: none;
}