.pokedex-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
}

.poke-logo {
    margin: 5px 5px 5px 0;
}

.browse-father {
    display: flex;
    flex-direction: row;
    margin: 5px 0 20px 0;
    align-items: center;
    justify-content: space-evenly;
}

.modal {
    width: 35px;
    height: 35px;
    margin-left: 5px;
    border: none;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    z-index: 3;

}

.browse {
    background-image: url(/icons/search.png);
    background-size: 20px;
    background-position-y: center;
    background-position: 10px;
    background-repeat: no-repeat;
    height: 35px;
    border-radius: 17px;
    border: none;
    padding-left: 40px;
    flex: 1 1;
}

.modal-background {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.modal-container {
    width: 100px;
    height: 120px;
    display: flex;
    position: absolute;
    z-index: 2;
    right: 22px;
    top: 135px;

}

.modal-menu {
    height: 100px;
    width: 120px;
    border: solid black 1px;
    z-index: 3;
    position: sticky;
    background-color: rgb(220, 10, 45);
    border-radius: 20px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: -8px;
}

.modal-menu label {
    border-radius: 20px;
}

.modal img {
    object-fit: cover;
    width: 65%;
    height: 65%;
    color: red;
}